<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= metaDescription %></title>
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/global.css"> 




    <!-- icon -->
    <!-- <link rel="icon" href="../../images/logo/icon.png" type="image/gif" sizes="16x16"> -->
